/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */

html,
body,
#root {
  height: 100%;
}

body {
  color: rgb(255 255 255 / 90%);
  font-family: "Pixelcraft Nerd Font", ui-monospace, monospace;
  font-size: 13.5pt;
  overflow: hidden;
}

#root {
  border: 1px solid #59c2ff;
  border-radius: 10px;
  background: rgb(15 20 25 / 90%);
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 0px 16px 0px 8px;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}

.left {
  justify-self: left;
}

.left > div {
  margin-right: 16px;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
}

.right > div {
  display: flex;
  align-items: center;
  margin-left: 0px;
}

.info {
  display: inline-block;
}

.icon {
  display: inline-block;
  margin: 0 12px;
}

.os-icon {
  color: #c6a0f6;
}

.uptime-icon {
  color: #ffb454;
}

.tiling-direction-icon {
  color: #ffb454;
  background: none;
  border: 0;
  cursor: pointer;
  transform: translate(0px, 1px);
}

.ethernet-icon {
  padding-left: 12px;
  font-size: 1.4rem;
  color: #b8cc52;
  transform: translate(4px, 2px);
}

.wifi-icon {
  padding-left: 12px;
  font-size: 1.6rem;
  color: #b8cc52;
  transform: translate(6px, 3px);
}

.cpu-icon {
  padding-left: 16px;
  color: #f07178;
  transform: translate(0px, -1px);
}

.memory-icon {
  padding-left: 10px;
  font-size: 1.5rem;
  color: #b8cc52;
  transform: translate(6px, 0px);
}

.battery-icon {
  padding-left: 5px;
  font-size: 1.4rem;
  color: #ffb454;
  transform: translate(6px, 2px);
}

.battery {
  position: relative;
}

.charging-icon {
  color: #59c2ff;
  z-index: 100;
  position: absolute;
  right: 26px;
  bottom: -2px;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 1));
}

.full-icon {
  color: #b8cc52;
  font-size: 0.9rem;
  z-index: 100;
  position: absolute;
  right: 29px;
  bottom: 0px;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 1));
}

.weather-icon {
  padding-left: 15px;
  color: #95e6cb;
  transform: translate(-1px, -1px);
}

.date-icon {
  padding-left: 12px;
  color: #c6a0f6;
}

.red {
  color: #f07178;
}

.blue {
  color: #59c2ff;
}

.green {
  color: #b8cc52;
}

.yellow {
  color: #ffb454;
}

.black {
  color: #3e4b59;
}

.cyan {
  color: #95E6CB;
}

.white {
  color: #F3F4F5
}

.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  margin-right: 4px;
  padding: 4px 8px;
  color: rgb(255 255 255 / 90%);
  border: none;
  border-radius: 2px;
  cursor: pointer;

  &.displayed {
    color:
  }

  &.focused,
  &:hover {
    color: #59c2ff;
  }
}
