#   █████╗ ██╗      █████╗  ██████╗██████╗ ██╗████████╗████████╗██╗   ██╗
#  ██╔══██╗██║     ██╔══██╗██╔════╝██╔══██╗██║╚══██╔══╝╚══██╔══╝╚██╗ ██╔╝
#  ███████║██║     ███████║██║     ██████╔╝██║   ██║      ██║    ╚████╔╝
#  ██╔══██║██║     ██╔══██║██║     ██╔══██╗██║   ██║      ██║     ╚██╔╝
#  ██║  ██║███████╗██║  ██║╚██████╗██║  ██║██║   ██║      ██║      ██║
#  ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝╚═╝   ╚═╝      ╚═╝      ╚═╝
#	aquapaka - https://github.com/aquapaka/dotfiles

import = ["~/AppData/Roaming/alacritty/colors.toml", "~/AppData/Roaming/alacritty/fonts.toml"]

#working_directory     = "None"
live_config_reload = true
#ipc_socket            = true

[shell]
program = "C:/msys64/msys2_shell.cmd"
args = ["-defterm -here -no-start -ucrt64 -full-path -shell zsh"]

[env]
TERM = "alacritty"

[window]
# dimensions = { columns = 200, lines = 45 }
# position = { x = 320, y = 50 }
padding = { x = 16, y = 16 }
dynamic_padding = true
decorations = "none"
opacity = 0.9
blur = false
#startup_mode          = "Windowed"
title = "Alacritty"
dynamic_title = false
# class = { instance = "Alacritty", general = "Alacritty" }
decorations_theme_variant = "None"
# resize_increments     = false
#option_as_alt         = "None"


[scrolling]
history = 10000
multiplier = 3

[selection]
semantic_escape_chars = ",│`|:\"' ()[]{}<>\t"
save_to_clipboard = true

[cursor.style]
shape = "Block"
blinking = "On"

[cursor.vi_mode_style]
shape = "Block"
blinking = "Off"

[cursor]
blink_interval = 550
blink_timeout = 0
#unfocused_hollow      = true
#thickness             = 0.15

# osc52 = "Disabled" | "OnlyCopy" | "OnlyPaste" | "CopyPaste"
[terminal]
osc52 = "OnlyCopy"

[mouse]
hide_when_typing = true
bindings = [{ mouse = "Middle", action = "PasteSelection" }]

[hints]
alphabet = "jfkdls;ahgurieowpq"

[[hints.enabled]]
command = "xdg-open"
## command             = "open" # On macOS
## command             = { program = "cmd", args = [ "/c", "start", "" ] } # On Windows
hyperlinks = true
post_processing = true
#persist               = false
mouse.enabled = true
#binding               = { key = "U", mods = "Control|Shift" }
#regex                 = "(ipfs:|ipns:|magnet:|mailto:|gemini://|gopher://|https://|http://|news:|file:|git://|ssh:|ftp://)[^\u0000-\u001F\u007F-\u009F<>\"\\s{-}\\^⟨⟩‘]+"

[keyboard]
# bindings = [
#     { key = "V", mods = "Control|Shift", action = "Paste" },
#     { key = "C", mods = "Control|Shift", action = "Copy" },
#     { key = "Paste", action = "Paste" },
#     { key = "Copy", action = "Copy" },
#     { key = "Insert", mods = "Shift", action = "PasteSelection" },
#     { key = "F", mods = "Control|Shift", action = "SearchForward", mode = "~Search" },
#     { key = "B", mods = "Control|Shift", action = "SearchBackward", mode = "~Search" },
#     { key = "Key0", mods = "Control", action = "ResetFontSize" },
#     { key = "Equals", mods = "Control", action = "IncreaseFontSize" },
#     { key = "Minus", mods = "Control", action = "DecreaseFontSize" },
#     { key = "L", mods = "Control", action = "ClearLogNotice" },
#     { key = "L", mods = "Control", chars = "\f" },
#     { key = "PageUp", mods = "Shift", action = "ScrollPageUp", mode = "~Alt" },
#     { key = "PageDown", mods = "Shift", action = "ScrollPageDown", mode = "~Alt" },
#     { key = "Up", mods = "Shift", action = "ScrollLineUp", mode = "~Alt" },
#     { key = "Down", mods = "Shift", action = "ScrollLineDown", mode = "~Alt" },
#     { key = "Home", mods = "Shift", action = "ScrollToTop", mode = "~Alt" },
#     { key = "End", mods = "Shift", action = "ScrollToBottom", mode = "~Alt" },
# ]


[debug]
# render_timer          = true
#persistent_logging    = false
#log_level             = "Warn"
#renderer              = "None"
#print_events          = false
#highlight_damage      = false
#prefer_egl            = false
